.root{
    -fx-font-family: "Segoe UI Semilight";
    -fx-background-color: lightblue;
    -fx-background-radius: 30;
}
.button {
    -fx-background-color:#f4d942;
    -fx-text-fill: darkgoldenrod;
    -fx-border-radius: 20;
}
.button:hover {
    -fx-background-color:#fff3b5;
}
.label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-font-style: italic;
}
.table-row-cell {
    -fx-background-color: #fff3b5;
}

.table-row-cell:odd {
    -fx-background-color: #d1e2ff;
}